<template>
    <div>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid mt-2">
                    <nuxt-link to="/"  class="navbar-brand custom a-style"><img src="~/assets/images/Mask group.png" alt="" class="logo"></nuxt-link>
                    <button class="navbar-toggler bg-info" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse ml-auto" id="navbarNavAltMarkup">
                        <div class="navbar-nav custom-nav">
                            <nuxt-link to="/" class="nav-link a-style mx-2" aria-current="page">Home</nuxt-link>
                            <nuxt-link to="/about" class="nav-link a-style mx-2">About Us</nuxt-link>
                            <nuxt-link to="/services" class="nav-link a-style mx-2" aria-current="page">Services</nuxt-link>
                            <nuxt-link to="/product" class="nav-link a-style mx-2" aria-current="page">Solutions</nuxt-link>
                            <!-- <nuxt-link to="/blog" class="nav-link a-style mx-2" aria-current="page">Blog</nuxt-link> -->
                        </div>
                    </div>
                    <nuxt-link to="/contact" class="nav-link a-style  contact-1">Contact Us</nuxt-link>
                </div>
            </nav>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="last"></div>
                </div>
            </div>
        </div>
        <div class="container mb-5">
            <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <p class="content">Contact Us </p>
            </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col-md-12">
                    <img src="~/assets/images/map.png" alt="" class="map-image">
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col-md-6">
                    <form>
                    <div class="form-row mb-3">
                        <div class="col-12">
                        <input type="text" class="form-control" placeholder="Name" v-model="form.Name">
                        
                        </div>
                        <!-- <div class="col-4">
                        <input type="text" class="form-control" placeholder="Last Name">
                        </div> -->
                    </div>
                    <div class="form-row mb-3">
                        <div class="col-12">
                        <input @input="formIsChanged = true" type="email" class="form-control" placeholder="Email Address" v-model="form.Email" required>

                        <template v-if="form.Email && formIsChanged && !validated.email">
                        <p class="text-danger">Format e-mail belum benar. Harap perbaiki.</p>
                        </template>
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="col-12">
                        <input @input="formIsChanged = true" type="number" class="form-control" placeholder="No. Handphone" v-model="form.NoHp" required>

                        <template v-if="form.NoHp && formIsChanged && !validated.phone">
                        <p class="text-danger">Format nomor telepon belum benar. Harap perbaiki.</p>
                        </template>
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="col-12">
                        <input type="text" class="form-control" placeholder="Subject" v-model="form.Subject">
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="col-12">
                        <input type="text" class="form-control" placeholder="Message" v-model="form.Msg">
                        </div>
                    </div>
                    <!-- <div class="form-row mb-3">
                        <div class="col-12">
                            <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                            <label class="form-check-label" for="invalidCheck2">
                                Agree to terms and conditions
                            </label>
                            </div>
                        </div>
                    </div> -->
                    <div class="form-row mb-3">
                        <div class="col-12">
                            <button
                              class="btn btn-primary"
                              :class="{ disabled: loading }"
                              :disabled="!formValidated" @click="mailTo()"  
                              type="button"
                            >
                              Submit
                            </button>
                        </div>
                    </div>
                </form>
                </div>
                <div class="col-md-6">
                    <p class="content-2">M&M Business Solution</p>
                    <p>Email: solution@mmbsapp.com</p>
                </div>
            </div>
        </div>  

        <section name="modals">
          <!-- start::success email modal -->
          <div id="successEmailModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <h3 class="text-center">{{ modalText }}</h3>
                </div>
                <div class="modal-footer justify-content-center">
                  <template v-if="modalSucces">
                    <nuxt-link to="/" data-dismiss="modal">
                      <button type="button" class="btn btn-primary">Continue</button>
                    </nuxt-link>
                  </template>

                  <template v-else>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </template>
                </div>
              </div>
            </div>
          </div>
          <!-- end::success email modal -->
        </section>
    </div>
</template>

<script>
export default {
    data() {
        return {
            form: {
                Name: '',
                NoHp: '',
                Subject: '',
                Msg: '',
                User: 'sa;175g0t0mob1l3',
                Email: ''
            },
            formIsChanged: false,
            disabled : false,
            loading: false,
            modalSucces: true
        }
    },

    computed: {
        validated() {
          let validated = {
              email: false,
              phone: false
          }

          if(this.formIsChanged) {
              const { form } = this
      
              const emailExpression = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      
              const phoneExpression = /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/
      
              if(form.Email) validated.email = emailExpression.test(form.Email)
              
              if(form.NoHp) validated.phone = phoneExpression.test(form.NoHp)
          }

          return validated
        },

        modalText() {
          return this.modalSucces ? 'Success Sending Email!' : 'Failed to Send Email...'
        },

        formValidated() {
          let formValidated = true
          const { validated } = this

          for(const key in validated) {
              const data = validated[key]

              if(!data) formValidated = false
          }

          return formValidated
        },
    },
    methods: {
        async mailTo() {
          this.loading = true
          
          const response = await this.$axios.$post('/SetSendEmail', this.form)
          
          this.loading = false

          this.modalSucces = response ? true : false

          const modalElement = document.getElementById('successEmailModal')
          const successModal = new bootstrap.Modal(modalElement)

          successModal.show()
        }
    }
}
</script>

<style>
@media (min-width: 991.98px) { 
  .last {
    background-image: url(../../assets/images/contact.png);
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    filter: brightness(40%);
    margin-top: -70px;
  }
  .contact {
    margin-left: 410px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    border-radius: 30%;
  }
  .a-style {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    position: relative;

    color: white !important;
    z-index: 9999;
  }

  .content-a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 42px;
    text-align: center;
    /* identical to box height, or 72% */
    letter-spacing: -0.03em;
    color: #111111;
  }

  .blog-image {
    position: absolute;
    margin-left: 577px;
    margin-top: 291px;
  }

  .content-b {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    margin-top: -80px;
    /* identical to box height, or 136% */

    letter-spacing: 0.03em;

    color: #4361EE;
  }

  .andro {
    position: absolute;
    margin-top: 178px;
    margin-left: -30px;
  }

  .phone2 {
    position: absolute;
    margin-top: 178px;
    margin-left: -30px;
  }

  .custom {
    margin-right: 460px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }

  .nav-link {
    display: flex;
    padding: 0.5rem 1rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: 476px) and (max-width: 767.98px) { 
  .map-image {
    width: 420px !important;
    text-align: center;
  }
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-wrap: wrap;
  }

.last {
    background-image: url(../../assets/images/contact.png);
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  filter: brightness(40%);

}

.logo {
  width: 30px;
}
.content {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 61px;
/* or 161% */

text-align: center;
letter-spacing: 0.03em;

color: #FFFFFF;
margin-top: -320px;
}
.content-2 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 42px;
/* identical to box height, or 131% */

text-align: center;
letter-spacing: 0.03em;

color: #222222;

}
.content-10 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 42px;
/* identical to box height, or 131% */


letter-spacing: 0.03em;

color: #222222;

}
.journey {
    background-color: #4361EE;
    border-radius: 20px;
    width: 1138px;
height: 380px;
}
.dif {
    background-color: #F6F8FF;
    border-radius: 20px;
height: 580px;
}
.content-3 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* or 162% */

text-align: center;
letter-spacing: 0.03em;

color: #222222;
}
.content-3 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* or 162% */

text-align: justify;
letter-spacing: 0.03em;

color: #222222;
}
.content-1 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 61px;
/* or 161% */

text-align: center;
letter-spacing: 0.03em;

color: #FFFFFF;
}
.icon {
	width: 40px;
	height: 40px;
	background: #FFE1D6;
	border-radius: 100%;
}
.icon-1 {
	width: 40px;
	height: 40px;
	background: #FFE1D6;
	border-radius: 100%;
}
.icon-2 {
	width: 40px;
	height: 40px;
	background: #D3DBFF;
	border-radius: 100%;
}
.point {
  background-color: #F5F7FF;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button.disabled {
  opacity: 0.5;
  pointer-events: none;
}
</style>