<template>
    <div>
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg navbar-light">
              <div class="container-fluid mt-2">
                <nuxt-link to="/"  class="navbar-brand custom a-style"><img src="~/assets/images/Mask group.png" alt="" class="logo"></nuxt-link>
                <button class="navbar-toggler bg-info" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse ml-auto" id="navbarNavAltMarkup">
                <div class="navbar-nav custom-nav">
                  <nuxt-link to="/" class="nav-link a-style mx-2" aria-current="page">Home</nuxt-link>
                  <nuxt-link to="/about" class="nav-link a-style mx-2">About Us</nuxt-link>
                  <nuxt-link to="/services" class="nav-link a-style mx-2" aria-current="page">Services</nuxt-link>
                  <nuxt-link to="/product" class="nav-link a-style mx-2" aria-current="page">Solutions</nuxt-link>
                  <!-- <nuxt-link to="/blog" class="nav-link a-style mx-2" aria-current="page">Blog</nuxt-link> -->
                </div>
                </div>
                <nuxt-link to="/contact" class="nav-link a-style  contact-1">Contact Us</nuxt-link>
              </div>
        </nav>
      </div>
      <div class="container-fluid">
          <div class="row">
              <div class="col">
                  <div class="product"></div>
              </div>
          </div>
      </div>
      <div class="container mb-5">
        <div class="row justify-content-center">
          <div class="col-md-12 text-center">
            <p class="content">Detail Product </p>
          </div>
        </div>
        <div class="row mt-5 mb-5">
          <div class="col-md-12 text-center">
            <p class="content-2">Point Of Sales System for Counter Transaction</p>
            <p class="content-3 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p class="content-3 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
        <div class="journey d-none d-lg-flex">
            <div class="row mt-5">
                <div class="col-md-12 p-3">
                    <p class="content-2 text-white">Journey of Success</p>
                </div>
            </div>
        <div class="row mt-5 mb-5">
          <div class="col-md-3 ">
            <p class="content-a text-white">98%</p>  
            <p class="content-3 text-center text-white">Improve engagement with clients and customers</p>  
          </div>
          <div class="col-md-3 ">
            <p class="content-a text-white">80%</p>  
            <p class="content-3 text-center text-white">Managed more succesfully client’sbussines</p> 
          </div>
          <div class="col-md-3 ">
            <p class="content-a text-white">100%</p>  
            <p class="content-3 text-center text-white">Average improvement in team efficientcy</p> 
          </div>
          <div class="col-md-3 ">
            <p class="content-a text-white" >90%</p>  
            <p class="content-3 text-center text-white">Average improvement in product design and development</p> 
          </div>
        </div>
        </div>
        <div class="row mb-5 d-none d-lg-flex">
            <div class="col-md-6" style="margin-bottom: 120px; margin-top: 260px;">
                <img src="~/assets/images/Group 39694.png" alt="">
                <img src="~/assets/images/Group 39695.png" alt="" style="position: absolute; margin-left: -150px; margin-top: 90px;">
            </div>
            <div class="col-md-6">
                <p class="content-2">Discover Our Features</p>
                <p class="content-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Transaction</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Settlement</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Journal</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Function ABC</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
              </div>
              <div class="card mb-5" style="border-radius: 20px; box-shadow: 10px 10px 2px;">
                  <div class="card-body" >
                    <img src="~/assets/images/ceklis.png" alt="">
                    <p class="content-2 float-right" style="font-size: 20px; margin-left: 39px; margin-top: -30px; position: absolute;">Point Of Sales System for Counter Transaction</p>
                    <p class="content-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  </div>
              </div>
              <div class="card mb-5" style="border-radius: 20px; box-shadow: 10px 10px 2px;">
                  <div class="card-body" >
                    <img src="~/assets/images/ceklis.png" alt="">
                    <p class="content-2 float-right" style="font-size: 20px; margin-left: 39px; margin-top: -30px; position: absolute;">Point Of Sales System for Counter Transaction</p>
                    <p class="content-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  </div>
              </div>
              <div class="card mb-5" style="border-radius: 20px; box-shadow: 10px 10px 2px;">
                  <div class="card-body" >
                    <img src="~/assets/images/ceklis.png" alt="">
                    <p class="content-2 float-right" style="font-size: 20px; margin-left: 39px; margin-top: -30px; position: absolute;">Point Of Sales System for Counter Transaction</p>
                    <p class="content-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  </div>
              </div>
            </div>   
        </div>
      </div> 
      <div class="container-fluid mt-5 mb-5 makes">
        <div class="dif">
            <div class="row mt-5 mb-5">
                <div class="col-md-12 text-center">
                    <p class="content-2">What Makes Us Different?</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-5" style="border-radius: 20px; box-shadow: 10px 10px 2px;">
                  <div class="card-body" >
                    <img src="~/assets/images/ceklis.png" alt="">
                    <p class="content-2 float-right" style="font-size: 20px; margin-left: 39px; margin-top: -30px; position: absolute;">Secure & Convenient</p>
                    <p class="content-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  </div>
                </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-5" style="border-radius: 20px; box-shadow: 10px 10px 2px;">
                  <div class="card-body" >
                    <img src="~/assets/images/ceklis.png" alt="">
                    <p class="content-2 float-right" style="font-size: 20px; margin-left: 39px; margin-top: -30px; position: absolute;">Secure & Convenient</p>
                    <p class="content-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  </div>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-5" style="border-radius: 20px; box-shadow: 10px 10px 2px;">
                  <div class="card-body" >
                    <img src="~/assets/images/ceklis.png" alt="">
                    <p class="content-2 float-right" style="font-size: 20px; margin-left: 39px; margin-top: -30px; position: absolute;">Secure & Convenient</p>
                    <p class="content-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  </div>
                </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-5" style="border-radius: 20px; box-shadow: 10px 10px 2px;">
                  <div class="card-body" >
                    <img src="~/assets/images/ceklis.png" alt="">
                    <p class="content-2 float-right" style="font-size: 20px; margin-left: 39px; margin-top: -30px; position: absolute;">Secure & Convenient</p>
                    <p class="content-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  </div>
                </div>
                </div>
            </div>
       </div>
      </div>  
    </div>
</template>
<style>
@media (min-width: 991.98px) { 
  .product {
    background-image: url(../../assets/images/product.png);
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  filter: brightness(40%);
  margin-top: -70px;
}
  .contact {
    margin-left: 410px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
border-radius: 30%;
  }
  .a-style {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */
position: relative;

color: white !important;
z-index: 9999;
}
  .content-a {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 56px;
line-height: 42px;
text-align: center;
/* identical to box height, or 72% */


letter-spacing: -0.03em;

color: #111111;
  }
  .blog-image {
    position: absolute;
    margin-left: 577px;
    margin-top: 291px;
  }
  .content-b {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 38px;
text-align: center;
margin-top: -80px;
/* identical to box height, or 136% */

letter-spacing: 0.03em;

color: #4361EE;
  }
  .andro {
    position: absolute;
    margin-top: 178px;
    margin-left: -30px;
  }
  .phone2 {
    position: absolute;
    margin-top: 178px;
    margin-left: -30px;
  }
  .custom {
    margin-right: 460px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
  }
  .nav-link {
    display: flex;
    padding: 0.5rem 1rem;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
}
}

@media (min-width: 476px) and (max-width: 767.98px) { 
  .makes {
    margin-bottom: 720px !important;
  }
}


.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-wrap: wrap;
  }

.product {
    background-image: url(../../assets/images/product.png);
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  filter: brightness(40%);
}
.logo {
  width: 30px;
}
.content {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 61px;
/* or 161% */

text-align: center;
letter-spacing: 0.03em;

color: #FFFFFF;
margin-top: -320px;
}
.content-2 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 42px;
/* identical to box height, or 131% */

text-align: center;
letter-spacing: 0.03em;

color: #222222;

}
.content-10 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 42px;
/* identical to box height, or 131% */


letter-spacing: 0.03em;

color: #222222;

}
.journey {
    background-color: #4361EE;
    border-radius: 20px;
    width: 1138px;
height: 380px;
}
.dif {
    background-color: #F6F8FF;
    border-radius: 20px;
height: 580px;
}
.content-3 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* or 162% */

text-align: center;
letter-spacing: 0.03em;

color: #222222;
}
.content-3 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* or 162% */

text-align: justify;
letter-spacing: 0.03em;

color: #222222;
}
.content-1 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 61px;
/* or 161% */

text-align: center;
letter-spacing: 0.03em;

color: #FFFFFF;
}
.icon {
	width: 40px;
	height: 40px;
	background: #FFE1D6;
	border-radius: 100%;
}
.icon-1 {
	width: 40px;
	height: 40px;
	background: #FFE1D6;
	border-radius: 100%;
}
.icon-2 {
	width: 40px;
	height: 40px;
	background: #D3DBFF;
	border-radius: 100%;
}
.point {
  background-color: #F5F7FF;
}

</style>