<template>
    <div>
        <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
              <div class="container-fluid mt-2">
                <nuxt-link to="/"  class="navbar-brand custom a-style"><img src="~/assets/images/m&m.png" alt="" class="logo"></nuxt-link>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse ml-auto" id="navbarNavAltMarkup">
                <div class="navbar-nav custom-nav">
                  <nuxt-link to="/" class="nav-link a-style mx-2" aria-current="page">Home</nuxt-link>
                  <nuxt-link to="/about" class="nav-link a-style mx-2 btn btn-white">About Us</nuxt-link>
                  <nuxt-link to="/services" class="nav-link a-style mx-2" aria-current="page">Services</nuxt-link>
                  <nuxt-link to="/product" class="nav-link a-style mx-2" aria-current="page">Solutions</nuxt-link>
                  <nuxt-link to="/blog" class="nav-link a-style mx-2" aria-current="page">Blog</nuxt-link>
                </div>
                </div>
                <nuxt-link to="/contact" class="nav-link a-style btn btn-outline-primary contact">Contact Us</nuxt-link>
              </div>
        </nav>
      </div>
      <div class="container-fluid">
          <div class="row">
              <div class="col">
                  <div class="blog"></div>
              </div>
          </div>
      </div>
      <div class="container mb-5">
        <div class="row justify-content-center">
          <div class="col-md-12 text-center">
            <p class="content">Blog</p>
          </div>
        </div>
        <div class="row mt-5 mb-5">
          <div class="col-md-12 text-center">
            <p class="content-2">Top Pick</p>
            <p class="content-3 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <div class="container text-center mb-5 mt-5 p-2 ">
          <div class="row mt-5 mb-5">
              <div class="col-md-12">
                <img class="card-img-top" src="~/assets/images/detailblog.png" alt="Card image cap">
              </div>
          </div> 
      </div>
      <div class="container mb-5">
        <div class="row mt-5 mb-5">
          <div class="col-md-12 text-center">
            <p class="content-2 text-left">This weekly blog makes an excellent general economics digest</p>
            <p class="content-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p class="content-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p class="content-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
        <div class="row mt-5 mb-5">
          <div class="col-md-12 text-center">
            <p class="content-2">Related Blogs</p>
          </div>
        </div>
        <div class="row mt-5 mb-5">
          <div class="col-md-4">
              <nuxt-link to="/detail_blog">
                    <div class="card" style="width: 18rem; border-radius: 20px;">
                    <img class="card-img-top" src="~/assets/images/Rectangle 238 (1).png" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
              </nuxt-link>   
          </div>
          <div class="col-md-4">
              <nuxt-link to="/detail_blog">
                <div class="card" style="width: 18rem; border-radius: 20px;">
                    <img class="card-img-top" src="~/assets/images/Rectangle 238 (2).png" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
              </nuxt-link>    
          </div>
          <div class="col-md-4">
              <nuxt-link to="/detail_blog">
                <div class="card" style="width: 18rem; border-radius: 20px;">
                    <img class="card-img-top" src="~/assets/images/Rectangle 238.png" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              </nuxt-link>
          </div>
        </div>
      </div>
    </div>
</template>
<style>
@media (min-width: 991.98px) { 
  .contact {
    margin-left: 410px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
border-radius: 30%;
  }
  .content-a {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 56px;
line-height: 42px;
text-align: center;
/* identical to box height, or 72% */


letter-spacing: -0.03em;

color: #111111;
  }
  .blog-image {
    position: absolute;
    margin-left: 577px;
    margin-top: 291px;
  }
  .content-b {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 38px;
text-align: center;
margin-top: -80px;
/* identical to box height, or 136% */

letter-spacing: 0.03em;

color: #4361EE;
  }
  .andro {
    position: absolute;
    margin-top: 178px;
    margin-left: -30px;
  }
  .phone2 {
    position: absolute;
    margin-top: 178px;
    margin-left: -30px;
  }
  .custom {
    margin-right: 460px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
  }
  .nav-link {
    display: flex;
    padding: 0.5rem 1rem;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
}
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-wrap: wrap;
  }
.blog {
    background-image: url(../../assets/images/blog.png);
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  filter: brightness(40%);
  margin-top: -70px;
}
.a-style {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */
position: relative;

color: white !important;
z-index: 9999;
}
.logo {
  width: 30px;
}
.content {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 61px;
/* or 161% */

text-align: center;
letter-spacing: 0.03em;

color: #FFFFFF;
margin-top: -320px;
}
.content-2 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 42px;
/* identical to box height, or 131% */

text-align: center;
letter-spacing: 0.03em;

color: #222222;

}
.content-10 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 42px;
/* identical to box height, or 131% */


letter-spacing: 0.03em;

color: #222222;

}
.content-3 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* or 162% */

text-align: center;
letter-spacing: 0.03em;

color: #222222;
}
.content-3 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* or 162% */

text-align: justify;
letter-spacing: 0.03em;

color: #222222;
}
.content-1 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 61px;
/* or 161% */

text-align: center;
letter-spacing: 0.03em;

color: #FFFFFF;
}
.icon {
	width: 40px;
	height: 40px;
	background: #FFE1D6;
	border-radius: 100%;
}
.icon-1 {
	width: 40px;
	height: 40px;
	background: #FFE1D6;
	border-radius: 100%;
}
.icon-2 {
	width: 40px;
	height: 40px;
	background: #D3DBFF;
	border-radius: 100%;
}
.point {
  background-color: #F5F7FF;
}

</style>