<template>
    <div>
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg navbar-light">
              <div class="container-fluid mt-2">
                <nuxt-link to="/"  class="navbar-brand custom a-style"><img src="~/assets/images/Mask group.png" alt="" class="logo"></nuxt-link>
                <button class="navbar-toggler bg-info" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse ml-auto" id="navbarNavAltMarkup">
                <div class="navbar-nav custom-nav">
                  <nuxt-link to="/" class="nav-link a-style mx-2" aria-current="page">Home</nuxt-link>
                  <nuxt-link to="/about" class="nav-link a-style mx-2">About Us</nuxt-link>
                  <nuxt-link to="/services" class="nav-link a-style mx-2" aria-current="page">Services</nuxt-link>
                  <nuxt-link to="/product" class="nav-link a-style mx-2" aria-current="page">Solutions</nuxt-link>
                  <!-- <nuxt-link to="/blog" class="nav-link a-style mx-2" aria-current="page">Blog</nuxt-link> -->
                </div>
                </div>
                <nuxt-link to="/contact" class="nav-link a-style  contact-1">Contact Us</nuxt-link>
              </div>
        </nav>
      </div>
      <div class="container-fluid">
          <div class="row">
              <div class="col">
                  <div class="image-2"></div>
              </div>
          </div>
      </div>
      <div class="container mb-5">
        <div class="row justify-content-center">
          <div class="col-md-12 text-center">
            <p class="content">Detail Services</p>
          </div>
        </div>
        <div class="row mt-5 mb-5 f">
          <div class="col-md-12 text-center">
            <p class="content-2">Web Development</p>
            <p class="content-3 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <div class="container-fluid text-center mb-5 mt-5 " style="background-color: #F6F8FF; height: 600px;">
            <div class="row mb-5">
                <div class="col-md-12 text-center mt-5">
                    <p class="content-2">How We Work?</p>
                    <p class="content-3 text-center">We turn your idea into reality with high quality development</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img  src="~/assets/images/Website Creator-rafiki 1 (1).png" alt="Card image cap">
                    <p class="content-2">Discovery</p>
                    <p class="content-3 text-center">We turn your idea into reality with high quality development</p>
                </div>
                <div class="col-md-4">
                    <img  src="~/assets/images/Design inspiration-rafiki 1 (1).png" alt="Card image cap">
                    <p class="content-2">Development</p>
                    <p class="content-3 text-center">We turn your idea into reality with high quality development</p>
                </div>
                <div class="col-md-4">
                    <img  src="~/assets/images/QA engineers-rafiki 1.png" alt="Card image cap">
                    <p class="content-2">Testing</p>
                    <p class="content-3 text-center">We turn your idea into reality with high quality development</p>
                </div>
            </div>
      </div>
      <div class="container mb-5  future-1">
        <div class="row mt-5 mb-5">
          <div class="col-md-12 text-center">
            <p class="content-2">Our Technology</p>
            <p class="content-3 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
        <div class="row">
            <div class="col-6 col-lg-2 text-center mt-2 ">
                <img  src="~/assets/images/Group 211.png" alt="Card image cap" style="width: 90px;">
            </div>
            <div class="col-6 col-lg-2 text-center mt-2">
                <img  src="~/assets/images/Group 212.png" alt="Card image cap" style="width: 90px;">
            </div>
            <div class="col-6 col-lg-2 text-center mt-2">
                <img  src="~/assets/images/Group 213.png" alt="Card image cap" style="width: 90px;">
            </div>
            <div class="col-6 col-lg-2 text-center mt-2">
                <img  src="~/assets/images/Group 214.png" alt="Card image cap" style="width: 90px;">
            </div>
            <div class="col-6 col-lg-2 text-center mt-2">
                <img  src="~/assets/images/Group 215.png" alt="Card image cap" style="width: 90px;">
            </div>
            <div class="col-6 col-lg-2 text-center mt-2">
                <img  src="~/assets/images/Group 216.png" alt="Card image cap" style="width: 90px;">
            </div>
        </div>
      </div>
      <div class="container mb-5">
        <div class="row future">
          <div class="col-md-12 text-center">
            <p class="content-2">Web Development Projects</p>
            <p class="content-3 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
        <div class="row mt-5 mb-5 project">
          <div class="col-md-4 card-project">
            <div class="card" style="width: 18rem; height: 380px; border-radius: 20px;">
                <img class="card-img-top" src="~/assets/images/service (1).png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title content-2 text-left">Your Fitness Buddies</h5>
                  <p class="card-text content-3">App Development..</p>
                </div>
              </div>
          </div>
          <div class="col-md-4 card-project">
            <div class="card" style="width: 18rem; height: 380px; border-radius: 20px;">
                <img class="card-img-top" src="~/assets/images/service (2).png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title content-2 text-left">Flip Company profile Website</h5>
                  <p class="card-text content-3">Website.</p>
                </div>
              </div>
          </div>
          <div class="col-md-4 card-project">
            <div class="card" style="width: 18rem; height: 380px; border-radius: 20px;">
                <img class="card-img-top" src="~/assets/images/service (3).png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title content-2 text-left">ERP Dashboard Management</h5>
                  <p class="card-text content-3">Web Dashboard.</p>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="container-fluid point-1 mb-5 mt-5">
        <div class="row mb-5 ">
          <div class="col-md-12 mt-5  mb-5 text-center">
            <img src="~/assets/images/Ornament 14.png" class="figure figure-1">
            <p class="content-10 text-white">Talk to us about your business needs.</p>
            <p class="content-3 text-white text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <button class="btn btn-primary" style="border-radius: 20px;"><span>Contact Us<img  src="~/assets/images/arrow.png" alt="Card image cap" class="mx-2" style="width: 10px;"></span></button>
            <img src="~/assets/images/Ornament 13.png" class="figure">
          </div>
        </div>
      </div>
    </div>
</template>
<style>
@media (min-width: 991.98px) { 
  .image-2 {
    background-image: url(../../assets/images/services.png);
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  filter: brightness(40%);
  margin-top: -70px;
}
  .contact {
    margin-left: 410px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
border-radius: 30%;
  }
  .a-style {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */
position: relative;

color: white !important;
z-index: 9999;
}
.figure {
    margin-top: -70px; margin-left: -820px; position: absolute;
  }
  .figure-1 {
    margin-left: 600px; margin-top: -20px; position: absolute;
  }
  .content-a {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 56px;
line-height: 42px;
text-align: center;
/* identical to box height, or 72% */


letter-spacing: -0.03em;

color: #111111;
  }
  .content-b {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 38px;
text-align: center;
margin-top: -80px;
/* identical to box height, or 136% */

letter-spacing: 0.03em;

color: #4361EE;
  }
  .andro {
    position: absolute;
    margin-top: 178px;
    margin-left: -30px;
  }
  .phone2 {
    position: absolute;
    margin-top: 178px;
    margin-left: -30px;
  }
  .custom {
    margin-right: 460px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
  }
  .nav-link {
    display: flex;
    padding: 0.5rem 1rem;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
}
}

@media (min-width: 476px) and (max-width: 767.98px) { 
  .content-card {
    z-index: 9999; margin-top: -279px; margin-left: 93px; position: absolute;
  }
  .figure {
    width: 40px;
  }
  .future {
    margin-top: 100px;
  }
  .future-1 {
    margin-top: 700px;
  }
  .card-service {
    margin-top: 140px;
  }
  .project {
    margin-top: 100px;
  }
  .project-1 {
    margin-top: 100px;
  }
  .card-project {
    margin-top: 100px;
    margin-left: 100px;
  }
  .card-project-1 {
    margin-top: 100px;
    margin-left: 100px;
  }
}


.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-wrap: wrap;
  }


.image-2 {
    background-image: url(../../assets/images/services.png);
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  filter: brightness(40%);

}

.logo {
  width: 30px;
}
.content {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 61px;
/* or 161% */

text-align: center;
letter-spacing: 0.03em;

color: #FFFFFF;
margin-top: -320px;
}
.content-2 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 42px;
/* identical to box height, or 131% */

text-align: center;
letter-spacing: 0.03em;

color: #222222;

}
.content-10 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 42px;
/* identical to box height, or 131% */


letter-spacing: 0.03em;

color: #222222;

}
.content-3 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* or 162% */

text-align: center;
letter-spacing: 0.03em;

color: #222222;
}
.content-3 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* or 162% */

text-align: justify;
letter-spacing: 0.03em;

color: #222222;
}
.content-1 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 61px;
/* or 161% */

text-align: center;
letter-spacing: 0.03em;

color: #FFFFFF;
}
.icon {
	width: 40px;
	height: 40px;
	background: #FFE1D6;
	border-radius: 100%;
}
.icon-1 {
	width: 40px;
	height: 40px;
	background: #FFE1D6;
	border-radius: 100%;
}
.icon-2 {
	width: 40px;
	height: 40px;
	background: #D3DBFF;
	border-radius: 100%;
}
.point {
  background-color: #F5F7FF;
}

</style>