<template>
  <div class="d-flex our-clients-logo-wrapper">
    <img class="img-fluid text-center" src="~/assets/images/101.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/2.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/3.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/4.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/5.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/6.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/7.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/8.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/9.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/10.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/11.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/12.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/13.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/14.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/15.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/16.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/17.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/18.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/19.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/20.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/21.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/22.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/23.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/24.png" alt="Image 1" style="height: 80px;">
  </div>
</template>

<style scoped>
  img {
    margin-left: 20px;
    margin-right: 20px;
  }
</style>