<template>
  <div class="d-flex our-clients-logo-wrapper">
    <img class="img-fluid text-center" src="~/assets/images/25.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/26.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/27.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/28.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/29.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/30.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/31.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/32.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/33.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/34.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/35.png" alt="Image 1" style="height: 45px;">
    <img class="img-fluid text-center" src="~/assets/images/36.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/37.png" alt="Image 1" style="height: 45px;">
    <img class="img-fluid text-center" src="~/assets/images/38.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/39.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/40.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/41.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/42.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/43.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/44.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/45.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/46.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/47.png" alt="Image 1" style="height: 80px;">
    <img class="img-fluid text-center" src="~/assets/images/48.png" alt="Image 1" style="height: 80px;">
  </div>
</template>

<style scoped>
  img {
    margin-left: 20px;
    margin-right: 20px;
  }
</style>