<template>
    <div>
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg navbar-light">
              <div class="container-fluid mt-2">
                <nuxt-link to="/"  class="navbar-brand custom a-style"><img src="~/assets/images/Mask group.png" alt="" class="logo"></nuxt-link>
                <button class="navbar-toggler bg-info" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse ml-auto" id="navbarNavAltMarkup">
                <div class="navbar-nav custom-nav">
                  <nuxt-link to="/" class="nav-link a-style mx-2" aria-current="page">Home</nuxt-link>
                  <nuxt-link to="/about" class="nav-link a-style mx-2">About Us</nuxt-link>
                  <nuxt-link to="/services" class="nav-link a-style mx-2" aria-current="page">Services</nuxt-link>
                  <nuxt-link to="/product" class="nav-link a-style mx-2" aria-current="page">Solutions</nuxt-link>
                  <!-- <nuxt-link to="/blog" class="nav-link a-style mx-2" aria-current="page">Blog</nuxt-link> -->
                </div>
                </div>
                <nuxt-link to="/contact" class="nav-link a-style  contact-1">Contact Us</nuxt-link>
              </div>
        </nav>
      </div>
      <div class="container-fluid">
          <div class="row">
              <div class="col">
                  <div class="product"></div>
              </div>
          </div>
      </div>
      <div class="container mb-5">
        <div class="row justify-content-center">
          <div class="col-md-12 text-center">
            <p class="content">Our Solution</p>
          </div>
        </div>
        <div class="row mt-5 mb-5">
          <div class="col-md-12 text-center">
            <p class="content-2">Various Solutions</p>
            <p class="content-3 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <div class="container mb-5">
        <div class="row">
          <div class="col-md-12">
            <ul class="nav nav-tabs justify-content-center mx-2" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#retail" type="button" role="tab" aria-controls="home" aria-selected="true">RETAIL</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#dist" type="button" role="tab" aria-controls="profile" aria-selected="false">DISTRIBUTION</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#hris" type="button" role="tab" aria-controls="contact" aria-selected="false">HRIS</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#manufac" type="button" role="tab" aria-controls="contact" aria-selected="false">MANUFACTURING</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#logis" type="button" role="tab" aria-controls="contact" aria-selected="false">LOGISTIC</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#clinic" type="button" role="tab" aria-controls="contact" aria-selected="false">CLINIC</button>
              </li>
            </ul>
            <div class="tab-content my-5" id="myTabContent">
              <div class="tab-pane fade show active" id="retail" role="tabpanel" aria-labelledby="home-tab">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio debitis possimus porro similique, consectetur quisquam modi commodi molestiae, illo esse explicabo, non nesciunt quos dolor laboriosam corporis officia necessitatibus! Sed?</div>
              <div class="tab-pane fade" id="dist" role="tabpanel" aria-labelledby="profile-tab">Distribution</div>
              <div class="tab-pane fade" id="hris" role="tabpanel" aria-labelledby="contact-tab">HRIS</div>
              <div class="tab-pane fade" id="manufac" role="tabpanel" aria-labelledby="contact-tab">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, porro libero. Tenetur laudantium possimus nostrum ipsa! Ullam eveniet, ad cum enim recusandae perferendis? Facilis nisi repellat voluptas, quaerat vitae quos.</div>
              <div class="tab-pane fade" id="logis" role="tabpanel" aria-labelledby="contact-tab">logis</div>
              <div class="tab-pane fade" id="clinic" role="tabpanel" aria-labelledby="contact-tab">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam laudantium expedita aperiam beatae incidunt. Quod, delectus inventore! Sapiente, tempore minima blanditiis facere sequi magni eligendi quisquam repudiandae maxime veritatis ex?.</div>
            </div>
          </div>
        </div>
      </div> 
       <div class="container point">
        <div class="row">
          <div class="col-md-12">
            <p class="content-2"> Point Of Sales System for Counter Transaction</p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-6">
            <img src="~/assets/images/levi.png" alt="" class="levi">
            <img src="~/assets/images/andro.png" alt="" class="andro andro-small">
          </div>
          <div class="col-md-6">
            <p class="content-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut doloribus hic dignissimos possimus laboriosam non magnam totam eum vitae commodi.</p>
            <div class="row">
              <div class="col-md-1">
                <img src="~/assets/images/ceklis.png" alt="">
              </div>
              <div class="col-md-8">
                <p class="content-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut doloribus hic dignissimos possimus laboriosam non magnam totam eum vitae commodi.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1">
                <img src="~/assets/images/ceklis.png" alt="">
              </div>
              <div class="col-md-8">
                <p class="content-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut doloribus hic dignissimos possimus laboriosam non magnam totam eum vitae commodi.</p>
              </div>
            </div>
            <nuxt-link to="detail_product">  <button class="btn btn-primary" style="border-radius: 20px;"><span>Discover More<img  src="~/assets/images/arrow.png" alt="Card image cap" class="mx-2" style="width: 10px;"></span></button>
             <img src="~/assets/images/Ornament 75.png" class="ornament-p" style="margin-top: -116px; margin-left: 150px; position: absolute;"></nuxt-link>
           
          </div>
        </div>
      </div> 
      <div class="container point">
        <div class="row">
          <div class="col-md-12">
            <p class="content-2"> Point Of Sales System for Counter Transaction</p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-6">
            <p class="content-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut doloribus hic dignissimos possimus laboriosam non magnam totam eum vitae commodi.</p>
            <div class="row">
              <div class="col-md-1">
                <img src="~/assets/images/ceklis.png" alt="">
              </div>
              <div class="col-md-8">
                <p class="content-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut doloribus hic dignissimos possimus laboriosam non magnam totam eum vitae commodi.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1">
                <img src="~/assets/images/ceklis.png" alt="">
              </div>
              <div class="col-md-8">
                <p class="content-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut doloribus hic dignissimos possimus laboriosam non magnam totam eum vitae commodi.</p>
              </div>
            </div>
            <nuxt-link to="detail_product">
              <button class="btn btn-primary" style="border-radius: 20px;"><span>Discover More<img  src="~/assets/images/arrow.png" alt="Card image cap" class="mx-2" style="width: 10px;"></span></button>
            <img src="~/assets/images/Ornament 76.png" style="margin-left: -170px; margin-top: -110px; position: absolute;" class="ornament-p">
            </nuxt-link>
           
          </div>
          <div class="col-md-6 text-right smal">
            <img src="~/assets/images/phone2.png" alt="" class="phone2">
            <img src="~/assets/images/levi2.png" alt=""  class="levi-1">
          </div>
        </div>
      </div>
      <div class="container point">
        <div class="row">
          <div class="col-md-12">
            <p class="content-2"> Point Of Sales System for Counter Transaction</p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-6">
            <img src="~/assets/images/levi.png" alt="" class="levi">
            <img src="~/assets/images/andro.png" alt="" class="andro">
          </div>
          <div class="col-md-6">
            <p class="content-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut doloribus hic dignissimos possimus laboriosam non magnam totam eum vitae commodi.</p>
            <div class="row">
              <div class="col-md-1">
                <img src="~/assets/images/ceklis.png" alt="">
              </div>
              <div class="col-md-8">
                <p class="content-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut doloribus hic dignissimos possimus laboriosam non magnam totam eum vitae commodi.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1">
                <img src="~/assets/images/ceklis.png" alt="">
              </div>
              <div class="col-md-8">
                <p class="content-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut doloribus hic dignissimos possimus laboriosam non magnam totam eum vitae commodi.</p>
              </div>
            </div>
            <nuxt-link to="/detail_product">
              <button class="btn btn-primary" style="border-radius: 20px;"><span>Discover More<img  src="~/assets/images/arrow.png" alt="Card image cap" class="mx-2" style="width: 10px;"></span></button>
            <img src="~/assets/images/Ornament 75.png" style="margin-top: -116px; margin-left: 150px; position: absolute;" class="ornament-p">
            </nuxt-link>
          
          </div>
        </div>
      </div>
      <div class="container point">
        <div class="row">
          <div class="col-md-12">
            <p class="content-2"> Point Of Sales System for Counter Transaction</p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-6">
            <p class="content-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut doloribus hic dignissimos possimus laboriosam non magnam totam eum vitae commodi.</p>
            <div class="row">
              <div class="col-md-1">
                <img src="~/assets/images/ceklis.png" alt="">
              </div>
              <div class="col-md-8">
                <p class="content-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut doloribus hic dignissimos possimus laboriosam non magnam totam eum vitae commodi.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1">
                <img src="~/assets/images/ceklis.png" alt="">
              </div>
              <div class="col-md-8">
                <p class="content-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut doloribus hic dignissimos possimus laboriosam non magnam totam eum vitae commodi.</p>
              </div>
            </div>
            <nuxt-link to="detail_product">
              <button class="btn btn-primary" style="border-radius: 20px;"><span>Discover More<img  src="~/assets/images/arrow.png" alt="Card image cap" class="mx-2" style="width: 10px;"></span></button>
            <img src="~/assets/images/Ornament 76.png" style="margin-left: -170px; margin-top: -110px; position: absolute;" class="ornament-p">
            </nuxt-link>    
          </div>
          <div class="col-md-6 text-right smal">
            <img src="~/assets/images/phone2.png" alt="" class="phone2">
            <img src="~/assets/images/levi2.png" alt="" class="levi-1" >
          </div>
        </div>
      </div>   
    </div>
</template>
<style>
@media (min-width: 991.98px) { 
  .product {
    background-image: url(../../assets/images/product.png);
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  filter: brightness(40%);
  margin-top: -70px;
}
  .contact {
    margin-left: 410px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
border-radius: 30%;
  }
  .a-style {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */
position: relative;

color: white !important;
z-index: 9999;
}
  .content-a {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 56px;
line-height: 42px;
text-align: center;
/* identical to box height, or 72% */


letter-spacing: -0.03em;

color: #111111;
  }
  .blog-image {
    position: absolute;
    margin-left: 577px;
    margin-top: 291px;
  }
  .content-b {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 38px;
text-align: center;
margin-top: -80px;
/* identical to box height, or 136% */

letter-spacing: 0.03em;

color: #4361EE;
  }
  .andro {
    position: absolute;
    margin-top: 178px;
    margin-left: -30px;
  }
  .phone2 {
    position: absolute;
    margin-top: 178px;
    margin-left: -30px;
  }
  .custom {
    margin-right: 460px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
  }
  .nav-link {
    display: flex;
    padding: 0.5rem 1rem;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
}
}

@media (max-width: 576px) { 
  .card-content {
    margin-left: 80px;
  }
  .card1 {
    margin-top: 90px;
  }
 
  .ornament-p {
    width: 40px;
  }
  .andro-small {
    width: 120px;
  }
}

@media (min-width: 476px) and (max-width: 767.98px) { 
  .card-content {
    margin-left: 140px;
  }
  .figure {
    width: 40px;
  }
  .levi{
    width: 120px;
    margin-left: 140px;
  }
  .levi-1{
    width: 120px;
    margin-right: 140px;
    margin-top: 50px;
  }
  .smal {
    margin-top: 20px;
  }
  .card1 {
    margin-top: 90px;
  }
}
.product {
    background-image: url(../../assets/images/product.png);
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  filter: brightness(40%);
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-wrap: wrap;
  }



.logo {
  width: 30px;
}
.content {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 61px;
/* or 161% */

text-align: center;
letter-spacing: 0.03em;

color: #FFFFFF;
margin-top: -320px;
}
.content-2 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 42px;
/* identical to box height, or 131% */

text-align: center;
letter-spacing: 0.03em;

color: #222222;

}
.content-10 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 42px;
/* identical to box height, or 131% */


letter-spacing: 0.03em;

color: #222222;

}
.content-3 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* or 162% */

text-align: center;
letter-spacing: 0.03em;

color: #222222;
}
.content-3 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* or 162% */

text-align: justify;
letter-spacing: 0.03em;

color: #222222;
}
.content-1 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 61px;
/* or 161% */

text-align: center;
letter-spacing: 0.03em;

color: #FFFFFF;
}
.icon {
	width: 40px;
	height: 40px;
	background: #FFE1D6;
	border-radius: 100%;
}
.icon-1 {
	width: 40px;
	height: 40px;
	background: #FFE1D6;
	border-radius: 100%;
}
.icon-2 {
	width: 40px;
	height: 40px;
	background: #D3DBFF;
	border-radius: 100%;
}
.point {
  background-color: #F5F7FF;
}

</style>