<template>
    <div>
        <main id="main" class="main">
             <Nuxt />
        </main>
        <Footer />
        
    </div>
</template>

<script>
import Footer from '@/components/layouts/Footer'
import { mapActions, mapGetters } from 'vuex';

export default {
    components: {
        Footer
    },

    computed: {
        ...mapGetters({
            visitor_noted: 'visitor/visitor_noted'
        })
    },

    methods: {
        ...mapActions({
            setNoteVisitorAction: 'visitor/setNoteVisitorAction'
        }),

        async setVisitor() {
            try {
                const url = 'http://app.mmbsapp.com/serverreg/api/SetVisitNo'
                const response = await this.$axios.$post(url, {
                    VisitNo: '1',
                    User: 'sa;175g0t0mob1l3',
                })

                if(response) this.setNoteVisitorAction(true)

            } catch(error) {
                console.log('error found', error)
            }
        }
    },

    mounted() {
        if(!this.visitor_noted) this.setVisitor()
    }
}
</script>