<template>
    <div class="div">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
              <div class="container-fluid mt-2">
                <nuxt-link to="/"  class="navbar-brand custom a-style"><img src="~/assets/images/Mask group.png" alt="" class="logo"></nuxt-link>
                <button class="navbar-toggler bg-info" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse ml-auto" id="navbarNavAltMarkup">
                <div class="navbar-nav custom-nav">
                  <nuxt-link to="/" class="nav-link a-style mx-2" aria-current="page">Home</nuxt-link>
                  <nuxt-link to="/about" class="nav-link a-style mx-2">About Us</nuxt-link>
                  <nuxt-link to="/" class="nav-link a-style mx-2" aria-current="page">Services</nuxt-link>
                  <nuxt-link to="/" class="nav-link a-style mx-2" aria-current="page">Solutions</nuxt-link>
                  <!-- <nuxt-link to="/blog" class="nav-link a-style mx-2" aria-current="page">Blog</nuxt-link> -->
                </div>
                </div>
                <nuxt-link to="#contact" class="nav-link a-style  contact-1">Contact Us</nuxt-link>
              </div>
        </nav>
      </div>
      <div 
        class="container-fluid"
        data-aos="fade-up"
      >
          <div class="row">
              <div class="col">
                  <div class="bout"></div>
              </div>
          </div>
      </div>
      <div 
        class="container"
      >
        <!-- <div class="row justify-content-center">
          <div class="col-md-12 text-center">
            <p class="content">About Us</p>
          </div>
        </div> -->
        <div 
          class="row mt-5 mb-5"
          data-aos="fade-up"
          data-aos-delay="500"
        >
          <div class="col-md-12 text-center">
            <p class="content-2">Who We Are ...</p>
            <p class="content-3 text-center">M&M Business Solution is an Information Technology consulting company, which concentrates in creating uniquely designed solutions for every type of business.</p>
          </div>
        </div>
        <div 
          class="row mt-5 mb-5"
          data-aos="fade-up"
          data-aos-delay="700"
        >
          <div class="col-md-12 text-center">
            <p class="content-2">Vision</p>
            <p class="content-3 text-center">Making life easier</p>
          </div>
        </div>
        <div 
          class="row mt-5 mb-5"
          data-aos="fade-up"
          data-aos-delay="700"
          data-aos-offset="-200"
        >
          <div class="col-md-12 text-center">
            <p class="content-2">Mission</p>
            <p class="content-3 text-center">Creating the best solution for each type of business uniquely.</p>
          </div>
        </div>
        <div 
          class="row mt-5 mb-5"
          data-aos="fade-up"
          data-aos-delay="700"
          data-aos-offset="-200"
        >
          <div class="col-md-12 text-center">
            <img src="~/assets/images/Flow.svg" alt="" class="prod" style="width: 920px;">
          </div>
        </div>
        <!-- <div class="row mt-5 mb-5">
          <div class="col-lg-3 ">
            <p class="content-a">98%</p>  
            <p class="content-3 text-center">Happy Clients</p>  
          </div>
          <div class="col-lg-3 ">
            <p class="content-a">50+</p>  
            <p class="content-3 text-center">Happy Clients</p> 
          </div>
          <div class="col-lg-3 ">
            <p class="content-a">100+</p>  
            <p class="content-3 text-center">Happy Clients</p> 
          </div>
          <div class="col-lg-3 ">
            <p class="content-a">10+</p>  
            <p class="content-3 text-center">Happy Clients</p> 
          </div>
        </div>  -->
         <!-- <div class="row mb-5">
          <div class="col-md-6">
            <img src="~/assets/images/our.png" alt="" class="our-png text-center">
          </div>
          <div class="col-md-6">
            <p class="content-2">Our Founding History</p>
            <p class="content-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p class="content-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p class="content-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div> -->
         <!-- <div class="row mt-5 mb-5">
          <div class="col-md-12 text-center">
            <p class="content-2">Lets Grows Together</p>
            <p class="content-3 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
        <div class="row mt-5 mb-5">
          <div class="col-md-6">
            <img src="~/assets/images/Group 204.png" alt="">
            <p class="content-2 text-left mt-3">High Quality Product</p>
            <p class="content-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
          <div class="col-md-6">
            <img src="~/assets/images/Group 202.png" alt="">
            <p class="content-2 text-left mt-3">Dedicated Team</p>
            <p class="content-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div> 
         <div class="row mt-5 mb-5">
          <div class="col-md-6">
            <img src="~/assets/images/Group 203.png" alt="">
            <p class="content-2 text-left mt-3">Fanatical Support</p>
            <p class="content-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
          <div class="col-md-6">
            <img src="~/assets/images/Group 204 (1).png" alt="">
            <p class="content-2 text-left mt-3">Outstanding Solutions</p>
            <p class="content-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div> -->
        <!-- <div class="our point mt-5 mb-5">
        <div class="row mt-5">
          <div class="col-md-12">
            <p class="content-2 mt-5"> Our Milestone</p>
            <p class="content-3 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-12 text-center mt-5 mb-5">
            <img src="~/assets/images/Group 209.png" alt="" class="d-none d-lg-inline-block">
          </div>
        </div>
        <div class="row mb-5 d-none d-lg-flex">
            <div class="col-md-4">
                <p class="content-b">2017</p>  
            </div>
            <div class="col-md-4">
                <p class="content-b">2018</p>  
            </div>
            <div class="col-md-4">
                <p class="content-b">2020</p>  
            </div>
        </div>
        </div> -->
      <div 
        class=" mb-5"
        data-aos="fade-up"
        data-aos-delay="700"
      >
        <div class="row">
          <div class="col-md-12 text-center">
            <p class="content-2">Our Channel Partner</p>
            <!-- <p class="content-3 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p> -->
          </div>
        </div>
        <div class="row justify-content-center mt-5 mb-5">
          <div class="col-6 text-center">
            <img src="~/assets/images/logo-gms-1.png" alt="" class="d-lg-inline-block" style="width: 250px;">
          </div>
          <div class="col-6 text-center">
            <img src="~/assets/images/LEVEL 8.png" alt="" class="d-lg-inline-block"  style="width: 250px;">
          </div>
        </div>
      </div>
        
      </div>
      <div 
        class="container-fluid"
        data-aos="fade-up"
        data-aos-delay="700"
      >
        
      <div class=" mb-5">
        <div class="row">
          <div class="col-md-12 text-center">
            <p class="content-2">Success Story</p>
            <!-- <p class="content-3 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p> -->
          </div>
        </div>
        <div class="row mt-5 mb-5">
          <div class="col-12 text-center">
            <img src="~/assets/images/1 Client.svg" alt="">
          </div>
        </div>
      </div> 

      <!-- <div class=" mb-5" data-aos="fade-left" data-aos-offset="500">
        <div class="row">
          <div class="col-md-12 text-center" data-aos="fade-up" data-aos-offset="500">
            <p class="content-2">Our Clients</p>
          </div>
        </div>

        <div class="marquee mt-4">
          <div class="left"></div>
          <IndexOurClientsLogo class="marqueeone"/>
          <div class="right"></div>
        </div>
        <div class="marquee">
          <div class="left"></div>
          <IndexOurClientsLogoReversed class="marqueetwo"/>
          <div class="right"></div>
        </div>
      </div>  -->
      </div>
    </div>
</template>

<script>
export default {
  mounted() {
    $(() => {
      AOS.init({
        duration: 1000
      });

      $('.marquee').marquee({
          duration: 5000,
          duplicated: true,
          gap: 0, 
          direction: 'left',
          pauseOnHover: true
      })
    })
  },
}
</script>

<style>
img {
  max-width: 100%;
}

@media (min-width: 991.98px) { 
  
.bout {
    background-image: url(../../assets/images/About.svg);
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  /* filter: brightness(40%); */
  margin-top: -70px;
}
  .contact {
    margin-left: 410px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
border-radius: 30%;
  }
  .a-style {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */
position: relative;

color: white !important;
z-index: 9999;
}
  .content-a {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 56px;
line-height: 42px;
text-align: center;
/* identical to box height, or 72% */


letter-spacing: -0.03em;

color: #111111;
  }
  .content-b {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 38px;
text-align: center;
margin-top: -80px;
/* identical to box height, or 136% */

letter-spacing: 0.03em;

color: #4361EE;
  }
  .andro {
    position: absolute;
    margin-top: 178px;
    margin-left: -30px;
  }
  .phone2 {
    position: absolute;
    margin-top: 178px;
    margin-left: -30px;
  }
  .custom {
    margin-right: 460px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
  }
  .nav-link {
    display: flex;
    padding: 0.5rem 1rem;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
}
}

@media (min-width: 476px) and (max-width: 767.98px) { 
  .prod {
       width: 120px !important;
  }
  .our-png {
       width: 420px !important;
       text-align: center;
  }

  
}

.image-1 {
    background-image: url(../../assets/images/about1.png);
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  filter: brightness(40%);
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-wrap: wrap;
  }



.logo {
  width: 30px;
}
.content {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 61px;
/* or 161% */

text-align: center;
letter-spacing: 0.03em;

color: #FFFFFF;
margin-top: -320px;
}
.content-2 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 42px;
/* identical to box height, or 131% */

text-align: center;
letter-spacing: 0.03em;

color: #222222;

}
.content-10 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 42px;
/* identical to box height, or 131% */


letter-spacing: 0.03em;

color: #222222;

}
.content-3 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* or 162% */

text-align: center;
letter-spacing: 0.03em;

color: #222222;
}
.content-3 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* or 162% */

text-align: justify;
letter-spacing: 0.03em;

color: #222222;
}
.content-1 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 61px;
/* or 161% */

text-align: center;
letter-spacing: 0.03em;

color: #FFFFFF;
}
.icon {
	width: 40px;
	height: 40px;
	background: #FFE1D6;
	border-radius: 100%;
}
.icon-1 {
	width: 40px;
	height: 40px;
	background: #FFE1D6;
	border-radius: 100%;
}
.icon-2 {
	width: 40px;
	height: 40px;
	background: #D3DBFF;
	border-radius: 100%;
}
.point {
  background-color: #F5F7FF;
}

.marquee {
    height: 150px;
    overflow: hidden;
    position: relative;
}

.marquee div.marqueeone {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    animation: scroll-left 30s linear infinite;
}

.marquee div.marqueetwo {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    animation: scroll-right 30s linear infinite;
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-300%);
        -webkit-transform: translateX(-300%);
        transform: translateX(-300%);
    }
}

@keyframes scroll-right {
    0% {
        -moz-transform: translateX(-300%);
        -webkit-transform: translateX(-300%);
        transform: translateX(-300%);
    }
    100% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

html {
  overflow-x: hidden;
}

.left, .right {
  position: absolute;
  width: 60px;
  top: 0;
  bottom: 0;
  background: #fff;
  opacity: 0.6;
  z-index: 2;
  filter: blur(8px);
}

.left {
  left: 0;
}

.right {
  right: 0;
}

</style>