<template>
  <div class="div">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
          <nuxt-link to="/"  class="navbar-brand custom a-style"><img src="~/assets/images/Mask group.png" alt="" class="logo"></nuxt-link>
          <button class="navbar-toggler bg-info" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse ml-auto" id="navbarNavAltMarkup">
            <div class="navbar-nav custom-nav">
              <nuxt-link to="/" class="nav-link a-style mx-2" aria-current="page">Home</nuxt-link>
              <nuxt-link to="/about" class="nav-link a-style mx-2">About Us</nuxt-link>
              <nuxt-link to="#service" class="nav-link a-style mx-2" aria-current="page">Services</nuxt-link>
              <nuxt-link to="#solution" class="nav-link a-style mx-2" aria-current="page">Solutions</nuxt-link>
              <!-- <nuxt-link to="/blog" class="nav-link a-style mx-2" aria-current="page">Blog</nuxt-link> -->
            </div>
          </div>

          <nuxt-link to="#contact" class="nav-link a-style contact-1">Contact Us</nuxt-link>
        </nav>
      </div>
      <div class="container-fluid">
          <div class="row">
              <div class="col-12">
                  <div class="image"></div>
              </div>
          </div>
      </div>
      <div class="container m-d1">
        <div class="row justify-content-center">
          <div class="col-md-12 text-center">
            <p class="content"></p>
            <!-- <p class="content-1">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</p>
            <button class="btn btn-primary" style="border-radius: 20px;"><span>Tell Us About Your Project<img  src="~/assets/images/arrow.png" alt="Card image cap" class="mx-2" style="width: 10px;"></span></button> -->
          </div>
        </div>
      </div>
      
      <div 
        id="service"  
      >
        <div class="container mt-5 mb-5" data-aos="fade-up"
        data-aos-delay="200">
          <div class="row">
            <div class="col-md-12 text-center">
              <p class="content-2">Our Services</p>
              <!-- <p class="content-3 text-center">Our Service</p> -->
            </div>
          </div>
        </div>
        <div class="container mb-5">
          <div class="row">
            <div 
              class="col-md-4 card-content" 
              data-aos="fade-up" 
              data-aos-offset="-50"
              data-aos-delay="300"
            >
              <img src="~/assets/images/Ornament 74.jpg" class="ornament">
              <div class="card" style="width: 18rem; height: 18rem;">
                <div class="card-body">
                  <h5 class="icon">
                    <img src="~/assets/images/Vector.png" style="width: 28px; margin-left: 6px; margin-top: 6px;">
                  </h5>
                  <h6 class="card-subtitle mb-2 text-muted">Website Design</h6>
                  <p class="card-text">Create your customized website that suits your business and branding. </p>
                </div>
              </div>
              <img src="~/assets/images/Ornament 11.jpg" style="margin-top: -86px; margin-left: -40px; ">
            </div>
            <div 
              class="col-md-4 card-content" 
              data-aos="fade-up" 
              data-aos-offset="-50" 
              data-aos-delay="500"
              
            >
              <div class="card" style="width: 18rem; height: 18rem;">
                <div class="card-body">
                  <h5 class="icon-1">
                    <img src="~/assets/images/phone.png" style="width: 18px; margin-left: 11px; margin-top: 6px;">
                  </h5>
                  <h6 class="card-subtitle mb-2 text-muted">Application Development</h6>
                  <p class="card-text">Create from scratch, design flow according to your needs, developing code for Desktop, Web, Android & IOS. </p>
                  <!-- <a style="color: blue;"><span>Discover Me <img  src="~/assets/images/arrowblue.png" alt="Card image cap" class="mx-2" style="width: 10px;"></span></a> -->
                </div>
              </div>
            </div>
            <div 
              class="col-md-4 text-sm-center card-content card1" 
              data-aos="fade-up" 
              data-aos-offset="-50" 
              data-aos-delay="800"
            >
              <div class="card" style="width: 18rem; height: 18rem;">
                <div class="card-body">
                  <h5 class="icon-2">
                    <img src="~/assets/images/uiux.png" style="width: 28px; margin-left: 6px; margin-top: 6px;">
                  </h5>
                  <h6 class="card-subtitle mb-2 text-muted text-left">SOP Design</h6>
                  <p class="card-text text-left">Create customize Standard Operating Procedures for your business. 
  With our experience in various industries, we can help design an effective SOP for you. </p>
                  <a style="color: blue;"><span class="d-none">Discover Me <img  src="~/assets/images/arrowblue.png" alt="Card image cap" class="mx-2" style="width: 10px;"></span></a>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div>

      <div id="products" class="mb-5">
        <div 
          class="container my-5" 
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="row">
            <div class="col-md-12 text-center">
              <p class="content-2">Our Products</p>
              <p class="text-muted text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique</p>
            </div>
          </div>
        </div>

        <div class="container products-content">
          <nav>
            <div class="nav nav-tabs justify-content-center" id="products-tab" role="tablist">
              <button class="nav-link active" id="nav-point-of-sales-tab" data-bs-toggle="tab" data-bs-target="#point-of-sales" type="button" role="tab" aria-controls="point-of-sales" aria-selected="true">Point of Sales</button>
              <button class="nav-link" id="nav-hris-tab" data-bs-toggle="tab" data-bs-target="#hris" type="button" role="tab" aria-controls="hris" aria-selected="false">HRIS</button>
              <button class="nav-link" id="nav-presales-tab" data-bs-toggle="tab" data-bs-target="#presales" type="button" role="tab" aria-controls="presales" aria-selected="false">Presales</button>
              <button class="nav-link" id="nav-manufacturing-tab" data-bs-toggle="tab" data-bs-target="#manufacturing" type="button" role="tab" aria-controls="manufacturing" aria-selected="false">Manufacturing</button>
              <button class="nav-link" id="distribution-tab" data-bs-toggle="tab" data-bs-target="#distribution" type="button" role="tab" aria-controls="distribution" aria-selected="false">Distribution</button>
            </div>
          </nav>

          <div class="tab-content" id="nav-products-tab-content">
            <div class="tab-pane fade show active" id="point-of-sales" role="tabpanel" aria-labelledby="point-of-sales-tab">
              <div class="product-cards">
                <div
                  class="product-card"
                  data-aos="fade-right"
                  data-aos-offset="600"
                  data-aos-delay="200"
                >
                  <img src="/images/our-products/card-1.svg" alt="reduce-administrative-burden">
                </div>
                <div
                  class="product-card"
                  data-aos="fade-left"
                  data-aos-offset="600"
                  data-aos-delay="400"
                >
                  <img src="/images/our-products/card-2.svg" alt="salesman-visit-control">
                </div>
                <div
                  class="product-card"
                  data-aos="fade-right"
                  data-aos-offset="600"
                  data-aos-delay="600"
                >
                  <img src="/images/our-products/card-3.svg" alt="mobile-order-taking">
                </div>
                <div
                  class="product-card"
                  data-aos="fade-left"
                  data-aos-offset="600"
                  data-aos-delay="800"
                >
                  <img src="/images/our-products/card-4.svg" alt="other-utility">
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="hris" role="tabpanel" aria-labelledby="hris-tab">...</div>
            <div class="tab-pane fade" id="presales" role="tabpanel" aria-labelledby="presales-tab">...</div>
            <div class="tab-pane fade" id="manufacturing" role="tabpanel" aria-labelledby="manufacturing-tab">...</div>
            <div class="tab-pane fade" id="distribution" role="tabpanel" aria-labelledby="distribution-tab">...</div>
          </div>
        </div>
      </div>

      <div 
        id="solution"     
      >
        <div class="container mb-5" data-aos="fade-up" 
        data-aos-offset="200">
          <div class="row">
            <div class="col-md-12 text-center">
              <p class="content-2">Our Solutions</p>
              <!-- <p class="content-3 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p> -->
            </div>
          </div>
        </div> 
        <div class="container mb-5" data-aos="fade-up" 
        data-aos-offset="200">
          <div class="row">
            <div class="col-md-12">
              <ul class="nav nav-tabs justify-content-center mx-2" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#sales" type="button" role="tab" aria-controls="sales" aria-selected="false">SALES AUTOMATION</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#hris" type="button" role="tab" aria-controls="contact" aria-selected="false">HRIS</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#dist" type="button" role="tab" aria-controls="profile" aria-selected="false">DISTRIBUTION</button>
                </li>  
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#retail" type="button" role="tab" aria-controls="home" aria-selected="true">RETAIL</button>
                </li>  
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#manufac" type="button" role="tab" aria-controls="contact" aria-selected="false">MANUFACTURING</button>
                </li>
                <!-- <li class="nav-item" role="presentation">
                  <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#equipment" type="button" role="tab" aria-controls="contact" aria-selected="false">EQUIPMENT MAINTENANCE</button>
                </li> -->
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#logis" type="button" role="tab" aria-controls="contact" aria-selected="false">LOGISTIC</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#clinic" type="button" role="tab" aria-controls="contact" aria-selected="false">CLINIC</button>
                </li>
              </ul>
              <!-- <div class="tab-content my-5" id="myTabContent">
                <div class="tab-pane fade show active" id="retail" role="tabpanel" aria-labelledby="home-tab">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio debitis possimus porro similique, consectetur quisquam modi commodi molestiae, illo esse explicabo, non nesciunt quos dolor laboriosam corporis officia necessitatibus! Sed?</div>
                <div class="tab-pane fade" id="dist" role="tabpanel" aria-labelledby="profile-tab">Distribution</div>
                <div class="tab-pane fade" id="sales" role="tabpanel" aria-labelledby="profile-tab">Sales</div>
                <div class="tab-pane fade" id="hris" role="tabpanel" aria-labelledby="contact-tab">HRIS</div>
                <div class="tab-pane fade" id="manufac" role="tabpanel" aria-labelledby="contact-tab">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, porro libero. Tenetur laudantium possimus nostrum ipsa! Ullam eveniet, ad cum enim recusandae perferendis? Facilis nisi repellat voluptas, quaerat vitae quos.</div>
                <div class="tab-pane fade" id="logis" role="tabpanel" aria-labelledby="contact-tab">logis</div>
                <div class="tab-pane fade" id="clinic" role="tabpanel" aria-labelledby="contact-tab">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam laudantium expedita aperiam beatae incidunt. Quod, delectus inventore! Sapiente, tempore minima blanditiis facere sequi magni eligendi quisquam repudiandae maxime veritatis ex?.</div>
              </div> -->
            </div>
          </div>
        </div> 
      </div>
        <div 
          class="container point" 
          data-aos="fade-up" 
          data-aos-offset="200"
        >
        <div 
          class="row mb-5"
          data-aos="fade-up" 
          data-aos-offset="200"
        >
          <div class="col-md-6">
            <img src="~/assets/images/levi.png" alt="" class="levi">
            <img src="~/assets/images/andro.png" alt="" class="andro andro-small">
          </div>
          <div class="col-md-6">
            <p class="content-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut doloribus hic dignissimos possimus laboriosam non magnam totam eum vitae commodi.</p>
            <div class="row">
              <div class="col-md-1">
                <img src="~/assets/images/ceklis.png" alt="">
              </div>
              <div class="col-md-8">
                <p class="content-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut doloribus hic dignissimos possimus laboriosam non magnam totam eum vitae commodi.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1">
                <img src="~/assets/images/ceklis.png" alt="">
              </div>
              <div class="col-md-8">
                <p class="content-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut doloribus hic dignissimos possimus laboriosam non magnam totam eum vitae commodi.</p>
              </div>
            </div>
             <img src="~/assets/images/Ornament 75.png" class="ornament-p" style="margin-top: -116px; margin-left: 300px; position: absolute;">
          </div>
        </div>
      </div>
      <div 
        class="container point" 
        data-aos="fade-up" 
        data-aos-offset="200"   
      >
        <div class="row">
          <div class="col-md-12">
            <p class="content-2"> Point Of Sales System for Counter Transaction</p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-6">
            <p class="content-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut doloribus hic dignissimos possimus laboriosam non magnam totam eum vitae commodi.</p>
            <div class="row">
              <div class="col-md-1">
                <img src="~/assets/images/ceklis.png" alt="">
              </div>
              <div class="col-md-8">
                <p class="content-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut doloribus hic dignissimos possimus laboriosam non magnam totam eum vitae commodi.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1">
                <img src="~/assets/images/ceklis.png" alt="">
              </div>
              <div class="col-md-8">
                <p class="content-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut doloribus hic dignissimos possimus laboriosam non magnam totam eum vitae commodi.</p>
              </div>
            </div>
            <img src="~/assets/images/Ornament 76.png" style="margin-left: -20px; margin-top: -110px; position: absolute;" class="ornament-p">
          </div>
          <div class="col-md-6 text-right smal">
            <img src="~/assets/images/phone2.png" alt="" class="phone2">
            <img src="~/assets/images/levi2.png" alt=""  class="levi-1">
          </div>
        </div>
      </div>
      <!-- <div 
        class="container point" 
        data-aos="fade-left" 
        data-aos-offset="200"
      >
        <div class="row">
          <div class="col-md-12">
            <p class="content-2"> Point Of Sales System for Counter Transaction</p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-6">
            <img src="~/assets/images/levi.png" alt="" class="levi">
            <img src="~/assets/images/andro.png" alt="" class="andro">
          </div>
          <div class="col-md-6">
            <p class="content-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut doloribus hic dignissimos possimus laboriosam non magnam totam eum vitae commodi.</p>
            <div class="row">
              <div class="col-md-1">
                <img src="~/assets/images/ceklis.png" alt="">
              </div>
              <div class="col-md-8">
                <p class="content-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut doloribus hic dignissimos possimus laboriosam non magnam totam eum vitae commodi.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1">
                <img src="~/assets/images/ceklis.png" alt="">
              </div>
              <div class="col-md-8">
                <p class="content-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut doloribus hic dignissimos possimus laboriosam non magnam totam eum vitae commodi.</p>
              </div>
            </div>
            <img src="~/assets/images/Ornament 75.png" style="margin-top: -116px; margin-left: 300px; position: absolute;" class="ornament-p">
          </div>
        </div>
      </div> -->
      <!-- <div 
      class="container point" 
        data-aos="fade" 
        data-aos-offset="800"
      >
        <div class="row">
          <div class="col-md-12">
            <p class="content-2"> Point Of Sales System for Counter Transaction</p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-6">
            <p class="content-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut doloribus hic dignissimos possimus laboriosam non magnam totam eum vitae commodi.</p>
            <div class="row">
              <div class="col-md-1">
                <img src="~/assets/images/ceklis.png" alt="">
              </div>
              <div class="col-md-8">
                <p class="content-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut doloribus hic dignissimos possimus laboriosam non magnam totam eum vitae commodi.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1">
                <img src="~/assets/images/ceklis.png" alt="">
              </div>
              <div class="col-md-8">
                <p class="content-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut doloribus hic dignissimos possimus laboriosam non magnam totam eum vitae commodi.</p>
              </div>
            </div>
            <img src="~/assets/images/Ornament 76.png" style="margin-left: -20px; margin-top: -110px; position: absolute;" class="ornament-p">
          </div>
          <div class="col-md-6 text-right smal">
            <img src="~/assets/images/phone2.png" alt="" class="phone2">
            <img src="~/assets/images/levi2.png" alt="" class="levi-1" >
          </div>
        </div>
      </div>  -->
      <div 
        class="container-fluid point mb-5" 
        data-aos="fade" 
        data-aos-offset="800"
      >
        <!-- <div class="row mb-5">
          <div class="col-md-6 mt-5">
            <p class="content-10">We are always ensure ourbest services for your ideas</p>
            <p class="content-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <img src="~/assets/images/Ornament 74.png" style=" margin-top: 160px; position: absolute;">
          </div>
          <div class="col-md-6 mt-5 text-center mb-5">
            <div id="landingPageCarousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="carousel-bg-image" style="background-image: url('/images/carousel-1.jpeg')"></div>
                </div>
                <div class="carousel-item">
                  <div class="carousel-bg-image" style="background-image: url('/images/carousel-2.jpeg')"></div>
                </div>
                <div class="carousel-item">
                  <div class="carousel-bg-image" style="background-image: url('/images/carousel-3.jpeg')"></div>
                </div>
                <div class="carousel-item">
                  <div class="carousel-bg-image" style="background-image: url('/images/carousel-4.jpeg')"></div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#landingPageCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#landingPageCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div> -->
      </div>
       <div 
        class="container-fluid point-1 mt-5 mb-5" 
        data-aos="fade-up" 
        data-aos-offset="200"
      >
        <div class="row mb-5 mt-5 ">
          <div class="col-md-12 mt-5  mb-5 text-center">
            <img src="~/assets/images/Ornament 14.png" class="figure figure-1">
            <!-- <p class="content-10 text-white">Do you need IT solutions for your business?</p> -->
            <p class="content-3 text-white text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <button class="btn btn-primary" style="border-radius: 20px;"><span>Contact Us<img  src="~/assets/images/arrow.png" alt="Card image cap" class="mx-2" style="width: 10px;"></span></button>
            <img src="~/assets/images/Ornament 13.png"  class="figure">
          </div>
        </div>
      </div> 
      <div id="contact" data-aos="fade-up" data-aos-offset="500">
          <div class="container mb-5">
              <div class="row justify-content-center">
              <div class="col-md-12 text-center">
                  <p class="content-contact">Contact Us </p>
              </div>
              </div>
              <!-- <div class="row mt-5 mb-5">
                  <div class="col-md-12">
                      <img src="~/assets/images/map.png" alt="" class="map-image">
                  </div>
              </div> -->
              <div class="row  mb-5 justify-content-center">
                  <div class="col-md-6 ">
                      <form>
                      <div class="form-row mb-3">
                          <div class="col-12">
                          <input type="text" class="form-control" placeholder="Name" v-model="form.Name">
                          
                          </div>
                          <!-- <div class="col-4">
                          <input type="text" class="form-control" placeholder="Last Name">
                          </div> -->
                      </div>
                      <div class="form-row mb-3">
                          <div class="col-12">
                          <input @input="formIsChanged = true" type="email" class="form-control" placeholder="Email Address" v-model="form.Email" required>

                          <template v-if="form.Email && formIsChanged && !validated.email">
                          <p class="text-danger">Format e-mail belum benar. Harap perbaiki.</p>
                          </template>
                          </div>
                      </div>
                      <div class="form-row mb-3">
                          <div class="col-12">
                          <input @input="formIsChanged = true" type="number" class="form-control" placeholder="No. Handphone" v-model="form.NoHp" required>

                          <template v-if="form.NoHp && formIsChanged && !validated.phone">
                          <p class="text-danger">Format nomor telepon belum benar. Harap perbaiki.</p>
                          </template>
                          </div>
                      </div>
                      <div class="form-row mb-3">
                          <div class="col-12">
                          <input type="text" class="form-control" placeholder="Subject" v-model="form.Subject">
                          </div>
                      </div>
                      <div class="form-row mb-3">
                          <div class="col-12">
                            <textarea  rows="6"  type="text" class="form-control" placeholder="Message" v-model="form.Msg"></textarea>
                          <!-- <input type="text" class="form-control" placeholder="Message" v-model="form.Msg"> -->
                          </div>
                      </div>
                      <!-- <div class="form-row mb-3">
                          <div class="col-12">
                              <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                              <label class="form-check-label" for="invalidCheck2">
                                  Agree to terms and conditions
                              </label>
                              </div>
                          </div>
                      </div> -->
                      <div class="form-row mb-3">
                          <div class="col-12 text-center">
                              <button
                              class="btn btn-primary mt-3"
                                :class="{ disabled: loading }"
                                :disabled="!formValidated" @click="mailTo()"  
                                type="button"
                                style="border-radius: 15px;"   
                              >
                                Submit
                              </button>
                          </div>
                      </div>
                  </form>
                  </div>
                  <!-- <div class="col-md-6">
                      <p class="content-2">M&M Business Solution</p>
                      <p>Email: solution@mmbsapp.com</p>
                  </div> -->
              </div>
          </div> 
      </div>
      <section name="modals">
          <!-- start::success email modal -->
          <div id="successEmailModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <h3 class="text-center">{{ modalText }}</h3>
                </div>
                <div class="modal-footer justify-content-center">
                  <template v-if="modalSucces">
                    <nuxt-link to="/" data-dismiss="modal">
                      <button type="button" class="btn btn-primary">Continue</button>
                    </nuxt-link>
                  </template>

                  <template v-else>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </template>
                </div>
              </div>
            </div>
          </div>
          <!-- end::success email modal -->
        </section>
      <!-- <div class="container mt-5 mb-5">
        <div class="row mt-5 mb-5">
          <div class="col-md-12 text-center">
            <p class="content-2">Our Blog</p>
          </div>
        </div> -->
       
        <!-- <div class="row mt-5 mb-5">
          <div class="col-md-4 mt-5">
            <div class="card" style="width: 18rem; border-radius: 20px;">
                <img class="card-img-top" src="~/assets/images/Rectangle 238 (1).png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title content-2 text-left">Biggest eveent at bantul at 34 November 2023</h5>
                  <p class="card-text content-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
          </div>
          <div class="col-md-4 mt-5">
            <div class="card" style="width: 18rem; border-radius: 20px;">
                <img class="card-img-top" src="~/assets/images/Rectangle 238 (2).png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title content-2 text-left">Biggest eveent at bantul at 34 November 2023</h5>
                  <p class="card-text content-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
          </div>
          <div class="col-md-4 mt-5">
            <div class="card" style="width: 18rem; border-radius: 20px;">
                <img class="card-img-top" src="~/assets/images/Rectangle 238.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title content-2 text-left">Biggest eveent at bantul at 34 November 2023</h5>
                  <p class="card-text content-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <button class="btn btn-primary" style="border-radius: 20px;"><span>Read More Blog <img  src="~/assets/images/arrow.png" alt="Card image cap" style="width: 10px;"></span></button>
          </div>
        </div> -->
   </div> 
  
				
</template>

<script>
export default {
  mounted() {
    $(() => {
      AOS.init({
        duration: 1000
      });

      $('.marquee').marquee({
          duration: 5000,
          duplicated: true,
          gap: 0, 
          direction: 'left',
          pauseOnHover: true
      })
    })
  },
  data() {
        return {
            form: {
                Name: '',
                NoHp: '',
                Subject: '',
                Msg: '',
                User: 'sa;175g0t0mob1l3',
                Email: ''
            },
            formIsChanged: false,
            disabled : false,
            loading: false,
            modalSucces: true
        }
    },

    computed: {
        validated() {
          let validated = {
              email: false,
              phone: false
          }

          if(this.formIsChanged) {
              const { form } = this
      
              const emailExpression = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      
              const phoneExpression = /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/
      
              if(form.Email) validated.email = emailExpression.test(form.Email)
              
              if(form.NoHp) validated.phone = phoneExpression.test(form.NoHp)
          }

          return validated
        },

        modalText() {
          return this.modalSucces ? 'Success Sending Email!' : 'Failed to Send Email...'
        },

        formValidated() {
          let formValidated = true
          const { validated } = this

          for(const key in validated) {
              const data = validated[key]

              if(!data) formValidated = false
          }

          return formValidated
        },
    },
    methods: {
        async mailTo() {
          this.loading = true
          
          const response = await this.$axios.$post('/SetSendEmail', this.form)
          
          this.loading = false

          this.modalSucces = response ? true : false

          const modalElement = document.getElementById('successEmailModal')
          const successModal = new bootstrap.Modal(modalElement)

          successModal.show()
          setTimeout(function () { location.reload(1); }, 3000);
        }
    }
}
</script>

<style>
  .contact {
    margin-left: 410px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
border-radius: 30%;
  }
  .content-contact {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 61px;
/* or 161% */

text-align: center;
letter-spacing: 0.03em;

color: black;
margin-top: 20px;
}

@media (max-width: 992px)  {
  body {
    overflow-x: hidden;
  }

  .nav-link.a-style.contact-1 {
    display: none;
  }
}

@media (min-width: 992px)  { 
  .ornament{
    margin-left: 893px; margin-top: -76px; position: absolute;
  }
  .scrollmenu {
  /* background-color: #333; */
  overflow: auto;
  white-space: nowrap;
  
}
.scrollmenu::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
/* .scrollmenu::-webkit-scrollbar {
    display: none;
} */

.scrollmenu img {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}


  .figure {
    margin-top: -70px; margin-left: -820px; position: absolute;
  }
  .figure-1 {
    margin-left: 600px; margin-top: -20px; position: absolute;
  }
    .contact-1 {
      font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  border-radius: 30px;
  border-color: #fdfdfe;
  border-width: 2px;
  border-style: solid;

    }
    .a-style {
    font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */


  color: white !important;
  z-index: 9999;
    }
    .m-d1 {
      margin-top: 40px !important;
    }
    .andro {
      position: absolute;
      margin-top: 178px;
      margin-left: -30px;
    }
    .phone2 {
      position: absolute;
      margin-top: 178px;
      margin-left: -30px;
    }
    .custom {
      font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
    }
    .nav-link {
      display: flex;
      padding: 0.5rem 1rem;
      font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
    }
  .image {
    background-image: url('../assets/images/2 home.svg');
    height: 700px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    /* filter: brightness(40%); */
    margin-top: -80px;
    }
}


@media (max-width: 576px) { 
  .card-content {
    margin-left: 80px;
  }
  .card1 {
    margin-top: 90px;
  }
 
  .ornament-p {
    width: 40px;
  }
  .andro-small {
    width: 120px;
  }
}

@media (min-width: 476px) and (max-width: 767.98px) { 
  .card-content {
    margin-left: 140px;
  }
  .figure {
    width: 40px;
  }
  .levi{
    width: 120px;
    margin-left: 140px;
  }
  .levi-1{
    width: 120px;
    margin-right: 140px;
    margin-top: 50px;
  }
  .smal {
    margin-top: 20px;
  }
  .card1 {
    margin-top: 90px;
  }
}




.m-d1 {
  margin-top: -40px;
}


  .image {
    background-image: url('../assets/images/2 home.svg');
    height: 910px; /* You must set a specified height */
    background-position: top left; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    /* filter: brightness(40%); */
  
    }

 


    .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-wrap: wrap;
  }



.logo {
  width: 30px;
}
.content {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 61px;
/* or 161% */

text-align: center;
letter-spacing: 0.03em;

color: #FFFFFF;
margin-top: -320px;
}
.content-2 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 42px;
/* identical to box height, or 131% */

text-align: center;
letter-spacing: 0.03em;

color: #222222;

}
.content-10 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 42px;
/* identical to box height, or 131% */


letter-spacing: 0.03em;

color: #222222;

}
.content-3 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* or 162% */

text-align: center;
letter-spacing: 0.03em;

color: #222222;
}
.content-3 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* or 162% */

text-align: justify;
letter-spacing: 0.03em;

color: #222222;
}
.content-1 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 61px;
/* or 161% */

text-align: center;
letter-spacing: 0.03em;

color: #FFFFFF;
}
.icon {
	width: 40px;
	height: 40px;
	background: #FFE1D6;
	border-radius: 100%;
}
.icon-1 {
	width: 40px;
	height: 40px;
	background: #FFE1D6;
	border-radius: 100%;
}
.icon-2 {
	width: 40px;
	height: 40px;
	background: #D3DBFF;
	border-radius: 100%;
}
.point {
  background-color: #F5F7FF;
}
.point-1 {
  background-color: #4361EE;
  margin-top: -50px;
}
.carousel-control-next-icon {
  background-image: url(../assets/images/fast-forward-double-right-arrows-symbol.png);
}
.carousel-control-prev-icon {
  background-image: url(../assets/images/arrowheads-of-thin-outline-to-the-left.png);
}

.marquee {
    height: 150px;
    overflow: hidden;
    position: relative;
}

.marquee div.marqueeone {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    animation: scroll-left 80s linear infinite !important;
}

.marquee div.marqueetwo {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    animation: scroll-right 80s linear infinite !important;
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-300%);
        -webkit-transform: translateX(-300%);
        transform: translateX(-300%);
    }
}

@keyframes scroll-right {
    0% {
        -moz-transform: translateX(-300%);
        -webkit-transform: translateX(-300%);
        transform: translateX(-300%);
    }
    100% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

html {
  overflow-x: hidden;
}

.left, .right {
  position: absolute;
  width: 60px;
  top: 0;
  bottom: 0;
  background: #fff;
  opacity: 0.6;
  z-index: 2;
  filter: blur(8px);
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.carousel-bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 420px;
}

#landingPageCarousel .carousel-control-next-icon {
  background-image: url(../static/icons/arrow-left.png);
  transform: rotateY(180deg);
}
#landingPageCarousel .carousel-control-prev-icon {
  background-image: url(../static/icons/arrow-left.png);
}
html {
  scroll-behavior: smooth;
}

.navbar-brand.custom.a-style {
  margin-right: 0;
}

#navbarNavAltMarkup {
  justify-content: center;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.product-card {
  width: 100%;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

#products-tab.nav.nav-tabs {
 border-bottom: 0; 
}

#products-tab.nav.nav-tabs .nav-link {
 border-color: transparent;
 background: transparent;
 color: #ababab;
}

#products-tab.nav.nav-tabs .nav-link:focus {
 outline: none;
}

#products-tab.nav.nav-tabs .nav-link::-moz-focus-inner {
  border: 0;
}

#products-tab.nav.nav-tabs .nav-link.active {
  border-bottom: 2px solid #4361EE;
  color: #4361EE;
}

#products-tab.nav.nav-tabs .nav-link:hover {
  cursor: pointer;
}
</style>