<template>
    <div class="div-foot">
        <div class="container">
            <div class="row py-5">
                <div class="col-md-4">
                    <img src="~/assets/images/whitemm.png" alt=""  width="100px"  >
                    <p class="font d-flex d-inline">M&M BUSINESS SOLUTION</p> 
                </div>
                <div class="col-md-2">
                    <p class="font">Company</p>
                    <nuxt-link to="/about" class="font-1 d-block cl">About Us</nuxt-link>
                    <nuxt-link to="#service" class="font-1 d-block cl">Services</nuxt-link>
                    <nuxt-link to="#solution" class="font-1 d-block cl">Solutions</nuxt-link>
                    <nuxt-link to="#contact" class="font-1 d-block cl">Contact Us</nuxt-link>
                </div>
                <div class="col-md-3">
                    <p class="font">Services</p> 
                    <nuxt-link to="/" class="font-1 d-block cl">Website Design</nuxt-link>
                    <nuxt-link to="/" class="font-1 d-block cl">Application Development</nuxt-link>
                    <nuxt-link to="/" class="font-1 d-block cl">SOP Design</nuxt-link>
                    <!-- <p> Email: solution@mmbsapp.com</p>  -->
                    <!-- <a href="mailto:solution@mmbsapp.com" class="font-1 cl"> Email: solution@mmbsapp.com</a> -->
                </div>
                <div class="col-md-3">
                    <p class="font">Reach Us</p> 
                    <p class="font-1"> <img src="~/assets/images/mail.png" alt="" width="15px"> Email</p> 
                    <p class="font-1 ml-3">Email: solution@mmbsapp.com</p> 
                </div>
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <div class="container">
                <div class="row py-5">
                    <div class="col-md-5">
                        <div class="container d-flex align-items-center flex-wrap justify-content-center">
                            <p class="footer-copyright py-3 pr-4 mb-0 font-footer ">© 2023 MMBS, All Right Reserved</p>
                            <!-- <img src="assets/images/payments.png" alt="payment methods" class="footer-payments py-3"> -->
                        </div><!-- End .container -->
                    </div>
                    <div class="col-md-2">
                        <div class="container d-flex align-items-center flex-wrap justify-content-center">
                            <p class="footer-copyright py-3 pr-4 mb-0 font-footer ">Registered in Indonesia</p>
                            <!-- <img src="assets/images/payments.png" alt="payment methods" class="footer-payments py-3"> -->
                        </div><!-- End .container -->
                    </div>
                    <div class="col-md-5">
                        <div class="container d-flex align-items-center flex-wrap justify-content-center">
                            <p class="footer-copyright py-3 pr-4 mb-0 font-footer ">Terms</p>
                            <p class="footer-copyright py-3 pr-4 mb-0 font-footer ">Privacy Policy</p>
                            <p class="footer-copyright py-3 pr-4 mb-0 font-footer ">Cookies Policy</p>
                            <!-- <img src="assets/images/payments.png" alt="payment methods" class="footer-payments py-3"> -->
                        </div><!-- End .container -->
                    </div>
                </div>
            </div>
		</div><!-- End .footer-bottom -->
    </div>
   
</template>

<style>
    .div-foot {
        background-color: #033BB8;
    }
    div.clock.medium div.time {
        font-size: 1em;
    }
    div.clock.medium div.date {
        font-size: 1em;
    }
    .font {
        font-family: 'Montserrat' !important;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 14px !important;
        line-height: 24px !important;

        color: white;
    }
    .font-1 {
        font-family: 'Montserrat' !important;
        font-style: normal !important;
        font-weight: 500 !important;
        font-size: 14px !important;
        line-height: 26px !important;
        /* identical to box height, or 162% */

        letter-spacing: 0.03em !important;
        color: #FFFFFF !important;
        flex: none !important;
        order: 0 !important;
        flex-grow: 0 !important;
        margin-top: 15px;
    }
    .font-footer {
        font-family: 'Montserrat' !important;
        font-style: normal !important;
        font-weight: 500 !important;
        font-size: 12px !important;
        line-height: 26px !important;
        /* identical to box height, or 162% */

        letter-spacing: 0.03em !important;
        color: #FFFFFF !important;
        flex: none !important;
        order: 0 !important;
        flex-grow: 0 !important;
        margin-top: 15px;
    }
    .cl {
        color: white;
}
</style>